In [ ]:
# Mount dataset CSV file
from google.colab import drive

mount_path = '/content/drive'

drive.mount(mount_path)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# DO NOT LOAD ENTIRE DATASET
import pandas as pd

file_path = "/content/drive/Shareddrives/CS166-Team-10/US_Accidents_March23.csv"

columns_needed = [
    "ID",
    "Severity",
    "City"
]

# Load entire dataset
# df = pd.read_csv(file_path, usecols=columns_needed)

In [16]:
# Preview first ten columns
df_preview = pd.read_csv(file_path, usecols=columns_needed, nrows=20)

df_preview

      ID  Severity          City
0    A-1         3        Dayton
1    A-2         2  Reynoldsburg
2    A-3         2  Williamsburg
3    A-4         3        Dayton
4    A-5         2        Dayton
5    A-6         3   Westerville
6    A-7         2        Dayton
7    A-8         3        Dayton
8    A-9         2        Dayton
9   A-10         3   Westerville
10  A-11         3      Columbus
11  A-12         3  Reynoldsburg
12  A-13         2        Dayton
13  A-14         2        Dayton
14  A-15         2      Columbus
15  A-16         2        Dayton
16  A-17         2        Dayton
17  A-18         2        Dayton
18  A-19         2        Dayton
19  A-20         2        Dayton